<p id="notice"><%= notice %></p>

<p>
  <strong>Descuento:</strong>
  <%= @qr_code_reader.disscount %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @qr_code_reader.person %>
</p>

<p>
  <strong>Acceso:</strong>
  <%= @qr_code_reader.checkin %>
</p>

<%= link_to 'Editar', edit_qr_code_reader_path(@qr_code_reader), :class => "btn btn-primary" %> |
<%= link_to 'Regresar', qr_code_readers_path, :class => "btn btn-primary" %>
