<%= form_with(model: paquete, local: true) do |form| %>
  <% if paquete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paquete.errors.count, "error") %> prohibited this paquete from being saved:</h2>

      <ul>
      <% paquete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= form.label :nombre, "Nombre" %>
    <%= form.text_field :nombre, id: :paquete_nombre, :class => 'form-control', :placeholder => "Nombre del Paquete" %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= form.label :tipo, "Tipo" %>
    <%= form.text_field :tipo, id: :, :class => 'form-control', :placeholder => "Tipo de Paquete" %>
  </div>
  </div>

<div class="form-group">
  <div class="field">
    <%= form.label :descripcion, "Descripcion" %>
    <%= form.text_area :descripcion, id: :paquete_descripcion, :class => 'form-control', :placeholder => "Descripcion" %>
  </div>
  </div>

  <div class="field">
      <%= form.hidden_field :pet_id, id: :pet_id %>
    </div>

  <div class="actions">
    <%= form.submit "Guardar", :class => "btn btn-primary", data: { confirm: '¿Creará un horario, desea continuar?' } %>
  </div>
<% end %>
