<%= form_with(model: precio, local: true) do |form| %>
  <% if precio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(precio.errors.count, "error") %> prohibited this precio from being saved:</h2>

      <ul>
      <% precio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= form.label :precio, "Precio" %>
    <%= form.text_field :precio, id: :precio_precio, :class => 'form-control', :placeholder => "Precio $" %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= form.label :tipo, "Tipo" %>
    <%= form.text_field :tipo, id: :precio_tipo, :class => 'form-control', :placeholder => "Tipo" %>
  </div>
  </div>

  <div class="field">
      <%= form.hidden_field :pet_id, id: :pet_id %>
    </div>

  <div class="actions">
    <%= form.submit "Cear", :class => "btn btn-primary", data: { confirm: '¿Creará un horario, desea continuar?' } %>
  </div>
<% end %>
