<p id="notice"><%= notice %></p>

<p>
  <strong>Precio:</strong>
  <%= @precio.precio %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @precio.tipo %>
</p>

<%= link_to 'Edit', edit_precio_path(@precio) %> |
<%= link_to 'Back', precios_path %>
